mixin formTehnicheskiyAudit(type)
    +b.outstaff-prices.outstaff-prices__form-container
        +e.H2.title-form=`Оставьте заявку на технический аудит ${type}`

        +e.FORM.form.form__form(
            action="#",
            method="POST",
        )
            +hiddenFormTitle(`Запрос технический аудит ${type}`)
            +inputTextField("text", "requesterName", "name", "Как к вам обращаться")
            .phone-wrapper
                +inputTextField("tel", "requesterPhoneNumber", "phone", "Телефон", "phone", "off")
                +formPromptAlert("Чтобы не беспокоить вас звонками, мы напишем в мессенджер для выбора удобного канала связи")
            +inputTextField("email", "requesterEmail", "email", "Электронная почта", "email")
            +hiddenField("audit_type", "audit_type", `технический аудит ${type}`, "audit_type")
            +submitField("Отправить заявку", "Отправить")
            +agreementField("Отправить заявку")
