mixin head(pageTitle, description, keywords, openGraphMeta)
  head&attributes(attributes)
    meta(charset='UTF-8')
    if (isProduction)
      noscript {{headIntegrationArea}}
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    meta(name='title' content=pageTitle)
    meta(name='description' content=description)
    meta(name='keywords' content=keywords)
    link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="32x32", href="/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="/favicon-16x16.png")
    link(rel="manifest", href="/manifest.json")
    link(rel="mask-icon", href="/safari-pinned-tab.svg", color="#5bbad5")
    link(rel="shortcut icon", href="/favicon.ico")
    link(rel="preload", as="font", href="/FuturaPT_Cond_Medium.woff2", type="font/woff2", crossorigin="crossorigin")
    link(rel="preload", as="font", href="/FuturaPT_Heavy.woff2", type="font/woff2", crossorigin="crossorigin")
    link(rel="preload", as="font", href="/FuturaPT_Medium.woff2", type="font/woff2", crossorigin="crossorigin")
    link(rel="preload", as="font", href="/FuturaPT_Demi.woff2", type="font/woff2", crossorigin="crossorigin")
    link(rel="preload", as="font", href="/FuturaPT_Book.woff2", type="font/woff2", crossorigin="crossorigin")
    link(href=`/${pathCss}.css`, rel="stylesheet")
    meta(name="yandex-verification", content="1cb38a7cad782ad9")
    meta(name="msapplication-TileColor", content="#da532c")
    meta(name="msapplication-config", content="/browserconfig.xml")
    meta(name="theme-color", content="#ffffff")
    title #{pageTitle || 'WorkSolutions'}
    if openGraphMeta
      link(rel="canonical", href=openGraphMeta.url.replace(/(?<!\/)$/gm, '/'))
      meta(property="og:title" content=openGraphMeta.title)
      meta(property="og:type" content=openGraphMeta.type)
      meta(property="og:url" content=openGraphMeta.url)
      meta(property="og:description" content=openGraphMeta.description)
      meta(property="og:locale" content=openGraphMeta.locale)
      if openGraphMeta.image
        meta(property="og:image" content=openGraphMeta.image)
        meta(property="og:image:secure_url" content=openGraphMeta.image)
      meta(property="og:site_name" content=openGraphMeta.siteName)