mixin spinner()
    svg(width="44" height="45" viewBox="0 0 44 45" fill="none" xmlns="http://www.w3.org/2000/svg").receipt-ocr_side-block_spinner
        path(d="M3.69596 26.0769C3.04145 22.1958 3.6375 18.2072 5.39802 14.687C7.15854 11.1668 9.99239 8.29737 13.4903 6.49304C16.9882 4.68871 20.9691 4.0429 24.858 4.64889C28.7469 5.25488 32.3426 7.08131 35.1257 9.86438"
            stroke="#56B8FF"
            stroke-width="4.125")
        path(
            d="M40.5066 21.5507C40.8139 25.5021 39.8485 29.4481 37.7515 32.8112C35.6546 36.1743 32.5363 38.778 28.853 40.2412C25.1697 41.7044 21.1148 41.9503 17.2816 40.9429C13.4485 39.9354 10.0385 37.7276 7.55054 34.6425"
            stroke="#56B8FF"
            stroke-width="4.125")